<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Professor</title>
    <link rel="stylesheet" href="/static/style_professor.css">
</head>
<body>
    <div>
        <h1>Cadastro de Professor</h1>
        <form method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required><br>
            <label for="matricula_prof">Matrícula:</label>
            <input type="text" name="matricula_prof" required><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" required><br>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>
