<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Aluno</title>
    <link rel="stylesheet" href="/static/style_aluno.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Aluno</h1>
        <form method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required><br>
            <label for="matricula">Matrícula:</label>
            <input type="text" name="matricula" required><br>
            <label for="curso">Curso:</label>
            <select name="cursos">
                <option value="null">Selecione seu curso</option>
                <option value="informática">Informática</option>
                <option value="quimica">Quimica</option>
                <option value="eletrotecnica">Eletrotecnica</option>
                <option value="edificações">Edificações</option>
            </select>
            <br>
            <label for="turma">Turma:</label>
            <select name="cursos">
                <option value="null">Selecione sua turma</option>
                <option value="1M">1° Matutino</option>
                <option value="2M">2° Matutino</option>
                <option value="3M">3° Matutino</option>
                <option value="1V">1° Vespertino</option>
                <option value="2V">2° Vespertino</option>
                <option value="3V">3° Vespertino</option>
                <option value="1A">1° A</option>
                <option value="2A">2° A</option>
                <option value="3A">3° A</option>
                <option value="1B">1° B</option>
                <option value="2B">2° B</option>
            </select>
            
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>
